body {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

#imageUrlInput {
  padding: 10px;
  margin-bottom: 10px;
}

#processUrlButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#processUrlButton:hover {
  background-color: #45a049;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image {
  width: 200px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.image img {
  width: 100%;
  border-radius: 5px;
}

.image-name {
  text-align: center;
  margin-top: 5px;
}

#preview-button,
#download-zip {
  margin-top: 10px;
  padding: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#preview-button:hover,
#download-zip:hover {
  background-color: #0077a2;
}
